/* general */
.md_ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, .12);
    transform: scale(0);
    transition: opacity 2s cubic-bezier(.23, 1, .32, 1), transform 1s cubic-bezier(.23, 1, .32, 1);
}

.md-ui.red {
    background: #D33;
    color: #FFF;
}

.md-ui.blue {
    background: #4285F4;
    color: #FFF;
}

.md-ui.round {
    border-radius: 50%;
    padding: 0;
}

/* button */
div.md-ui.btn-box {
    margin-top: 48px;
    text-align: right;
}

div.md-ui.btn-box button.md-ui {
    margin-left: 16px;
}

button.md-ui {
    position: relative;
    overflow: hidden;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 8px 32px;
    background: #FFF;
    color: #000;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button.md-ui.no-shadow {
    box-shadow: none;
}

button.md-ui[disabled] {
    background: #E5E5E5;
    color: rgba(0, 0, 0, .3);
    cursor: not-allowed;
}

/* input, textarea */
.md-input-box {
    position: relative;
    margin-top: 48px;
}

.md-input-box.disabled, .md-input-box input[disabled] {
    cursor: not-allowed;
}

.md-input-box input:not([type]), .md-input-box input[type=text], .md-input-box input[type=password], .md-input-box textarea {
    position: relative;
    bottom: 2px;
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 0;
    min-height: 32px;
    background: transparent;
}

.md-input-box textarea {
    resize: none;
    max-height: 400px;
    word-break: break-all;
}

.md-input-box label {
    position: absolute;
    top: 4px;
    font-size: 15px;
    color: rgba(0, 0, 0, .3);
    transition: all 450ms cubic-bezier(.23, 1, .32, 1);
    pointer-events: none;
}

.md-input-box label.focus {
    color: #4285F4;
}

.md-input-box label.contract {
    transform: scale(.8) translate(0, -30px);
    transform-origin: 0 0 0;
}

.md-input-box .bar {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
}

.md-input-box .bar.back {
    border-bottom: 1px solid #D0D0D0;
    width: 100%;
}

.md-input-box .bar.front {
    border-bottom: 2px solid #4285F4;
    transition: all 450ms cubic-bezier(.23, 1, .32, 1);
}

.md-input-box .bar.expand {
    width: 100%;
}

/* checkbox */
.md-checkbox-box {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0 14px 0 0;
    cursor: pointer;
}

.md-checkbox-box .ripple_box {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.md-checkbox-box .checkbox_svg {
    width: 18px;
    height: 18px;
    fill: rgba(0, 0, 0, .87);
    position: absolute;
    opacity: 1;
    transition: opacity .45s cubic-bezier(.23, 1, .32, 1);
}

.md-checkbox-box .checkbox_svg.check {
    fill: #1565C0;
    opacity: 0;
}

.md-checkbox-box .check_svg {
    width: 18px;
    height: 18px;
    fill: #1565C0;
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transition: opacity .45s cubic-bezier(.23, 1, .32, 1), transform 0s .45s;
}

.md-checkbox-box .check_svg.check {
    opacity: 1;
    transform: scale(1);
    transition: transform .8s cubic-bezier(.23, 1, .32, 1);
}

.md-checkbox-box.disabled {
    color: rgba(0, 0, 0, .3);
    cursor: not-allowed;
}

.md-checkbox-box.disabled .check_svg, .md-checkbox-box.disabled .checkbox_svg {
    fill: rgba(0, 0, 0, .3);
}

.md-checkbox-box.disabled .md_ripple {
    visibility: hidden;
}

.md-checkbox-box input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 48px;
    width: 48px;
    opacity: 0;
    cursor: inherit;
}

.md-checkbox-box .title {
    font-size: 15px;
}

/* card */
.md-ui.card {
    background: #FFF;
    padding: 48px 40px;
    margin-bottom: 32px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.md-ui.card h2.md-ui {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
}

.md-ui.card h3.md-ui {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
}