<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--通过此配置文件完成mybatis和数据库的连接-->
<configuration>
    <!--引入database.properties文件-->
    <properties resource="databases.properties"/>


    <!--<settings>-->
        <!--&lt;!&ndash;<setting name="lazyLoadingEnabled" value="true"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<setting name="autoMappingBehavior" value="NONE"/>&ndash;&gt;-->
    <!--</settings>-->
    
    <!--
        告知mybatis:映射文件的位置
        有两种方式
        -->
    <typeAliases>
        <!--方式一：有一个实体类 就得配置一个节点typeAlias-->
        <!--<typeAlias type="top.haha233.smbms.modell.po.UserBo" alias="UserBo"/>-->
        <!--方式二：直接写包名即可-->
        <package name="top.haha233.smbms.model.po"/>
        <package name="top.haha233.smbms.model.bo"/>
    </typeAliases>

    <!--配置环境节点：连接哪个数据库
       可以配置多个数据库的连接信息，每个数据库的连接信息配置在environment里面
       default属性用来赋值environment的id值，赋值哪个id当前就连接哪个数据库
   -->
    <environments default="development">
        <environment id="development">
            <!--配置mybatis使用的事务:使用jdbc来管理事务-->
            <transactionManager type="JDBC"/>
            <!--配置数据源信息
            POOLED：mybatis使用mybatis自带的数据源
            JNDI：mybatis使用容器里的数据源
            -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--当前项目下的映射文件XXXMapper.xml加入到此配置文件中-->
    <mappers>
        <mapper resource="UserMapper.xml"/>
        <mapper resource="RoleMapper.xml"/>
    </mappers>
</configuration>